<div ng-controller="manageproductCtrl" data-ng-init="" flex>
    <md-content flex>
        <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex"> 
            <md-tab id="tab1" label="Product Caetrgory">
                <md-toolbar class="md-theme-light">
                    <h3 class="md-toolbar-tools">
                        <span> Add Product Category</span>
                    </h3>
                </md-toolbar>
                <md-content class="md-padding" flex>
                    <form name="addProductCategory">
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label> Product Category Code : </label>
                                <input type="text" ng-model="ProductCategory.productcategorycode" md-maxlength="7" required ng-pattern="/^PC[A-Za-z0-9]{5}$/">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label> Category Name : </label>
                                <input type="text" ng-model="ProductCategory.productcategoryname" md-maxlength="50" required>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label> Additional Info : </label>
                                <input type="text" ng-model="ProductCategory.productcategoryaddinfo" md-maxlength="255">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-button  class="md-raised md-primary" ng-click="SaveOrUpdateProductCategory();"
                                        ng-disabled="addProductCategory.$dirty && addProductCategory.$invalid"> {{SAVE_UPDATE_DELETE_FLAG}} </md-button>
                        </div>
                    </form>
                </md-content>
            </md-tab>
            <md-tab id="tab1" label="Products" ng-click="listproductcategory();">
                <md-toolbar class="md-theme-light">
                    <h3 class="md-toolbar-tools">
                        <span>{{ SAVE_UPDATE_DELETE_FLAG=="Save"?"Add New Product":"Update Product Info"}} </span>
                    </h3>
                </md-toolbar>
                <md-content class="md-padding" flex>
                    <form name="addProduct" novalidate>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs >
                                <label> Product Code : </label>
                                <input type="text" ng-model="Product.productcode" md-maxlength="7" required ng-pattern="/^[A-Za-z0-9]{5}$/">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Product Category : </label>
                                <md-select ng-model="Product.productcategorycode" required>
                                    <md-option ng-repeat="option in ProductCategoryList" value="{{option.productcategorycode}}">
                                        <span style="color: blue">{{option.productcategorycode}} : {{option.productcategoryname}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label> Product Name : </label>
                                <input type="text" ng-model="Product.productname" md-maxlength="50" required>
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label> Specification And Thickness : </label>
                                <input type="text" ng-model="Product.specificationandthickness" md-maxlength="45">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label> Size : </label>
                                <input type="text" ng-model="Product.size" md-maxlength="45">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label> Units : </label>
                                <input type="text" ng-model="Product.units" md-maxlength="45">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label> MOQ : </label>
                                <input type="text" ng-model="Product.moq" md-maxlength="45">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label> Color : </label>
                                <input type="text" ng-model="Product.color" md-maxlength="45">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label> HSN/SAC No : </label>
                                <input type="text" ng-model="Product.hsnSacNo" md-maxlength="50">
                            </md-input-container>
                        </div>
                        <div layout-gt-xs="row">
                            <md-button  class="md-raised md-primary" ng-click="SaveOrUpdateProduct();"
                                        ng-disabled="addProduct.$dirty && addProduct.$invalid"> {{SAVE_UPDATE_DELETE_FLAG}} </md-button>
                        </div>
                    </form>
                </md-content>
            </md-tab>
            <md-tab id="tab3"  label="Product List" ng-click="loadProducts();">
                        <div layout-gt-xs="row">
                            <md-card flex>
                                <md-table-container> 
                                    <table md-table md-row-select multiple ng-model="selected">
                                        <thead md-head  md-order="query.product">
                                            <tr md-row>

                                                <th md-column md-order-by="productcode">Product Code</th>
                                                <th md-column md-order-by="productname">Product Name</th>
                                                <th md-column md-order-by="specificationandthickness">Specification</th>
                                                <th md-column md-order-by="productcategorycode">Category Code</th>   
                                                <th md-column md-order-by="size">Size</th>   
                                                <th md-column md-order-by="units">units</th>  
                                                <th md-column md-order-by="moq">MOQ</th>   
                                                <th md-column md-order-by="color">Color</th>   
                                                <th md-column md-order-by="HsnSacNo">HSN/SAC</th>   
                                                <th md-column ></th> 
                                            </tr>
                                        </thead> 
                                        <tbody md-body>
                                            <tr md-row ng-repeat="item in productlist| filter: filter.search | orderBy: query.product">
                                                <td md-cell>{{item.productcode}}</td>
                                                <td md-cell>{{item.productname}}</td>
                                                <td md-cell>{{item.specificationandthickness}}</td>
                                                <td md-cell>{{item.productcategorycode}}</td>
                                                <td md-cell>{{item.size}}</td>
                                                <td md-cell>{{item.units}}</td>
                                                <td md-cell>{{item.moq}}</td>
                                                <td md-cell>{{item.color}}</td>
                                                <td md-cell>{{item.hsnSacNo}}</td>                                                
                                        <td md-cell><md-button class="md-raised md-primary"  ng-click="updateProduct(item);" >EDIT</md-button></td>

                                        </tr>
                                        </tbody>
                                    </table>
                            </md-card>
                        </div>
                    </md-tab>
        </md-tabs>
    </md-content>
</div>