<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

<bean id="dataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource"
    p:driverClassName="${jdbc.driverClassName}"
    p:url="${jdbc.url}"
    p:username="${jdbc.username}"
    p:password="${jdbc.password}" /-->
    
    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
    <bean id="ImsLogindetailsDAO" class="org.ims.dao.entitydao.ImsLogindetailsDAO">
    </bean>
    <bean id="ImsAppSettingsDAO" class="org.ims.dao.entitydao.ImsAppSettingDAO">
    </bean>
    <bean id="ImsDealerMasterDAO" class="org.ims.dao.entitydao.ImsDealerDetailsDAO">
    </bean>
    <bean id="ImsSupplierMasterDAO" class="org.ims.dao.entitydao.ImsSupplierDetailsDAO">
    </bean>
    <bean id="ImsDealersauthorizerDAO" class="org.ims.dao.entitydao.ImsDealersauthorizerDAO">
    </bean>
    <bean id="ImsSuppliersauthorizerDAO" class="org.ims.dao.entitydao.ImsSuppliersauthorizerDAO">
    </bean>
    <bean id="ImsProductcategoryDAO" class="org.ims.dao.entitydao.ImsProductcategoryDAO">
    </bean>
    <bean id="ImsProductdetailsDAO" class="org.ims.dao.entitydao.ImsProductdetailsDAO">
    </bean>
    <bean id="ImsImsManageordersDAO" class="org.ims.dao.entitydao.ImsManageordersDAO">
    </bean>
      
    <bean id="Appsettings" class="org.ims.transactionEngine.securityManager.Appsettings">
    </bean>
    <bean id="DealerService" class="org.ims.transactionEngine.DealerService.DealerService">
    </bean>
    <bean id="SupplierService" class="org.ims.transactionEngine.SupplierService.SupplierService">
    </bean>
    <bean id="SupplierAuthorizerService" class="org.ims.transactionEngine.SupplierService.SupplierAuthorizerService">
    </bean>
    <bean id="DealerAuthorizerService" class="org.ims.transactionEngine.DealerService.DealerAuthorizerService">
    </bean>
    <bean id="ProductCategoryService" class="org.ims.transactionEngine.InventoryService.ProductCategoryService">
    </bean>
    <bean id="ProductService" class="org.ims.transactionEngine.InventoryService.ProductService">
    </bean>
    <bean id="OrderManagementService" class="org.ims.transactionEngine.InventoryService.OrderManagementService">
    </bean>
    <bean id="LoginService" class="org.ims.transactionEngine.securityManager.Loginservice">
    </bean>
    <bean id="LoginModel" class="org.ims.transactionEngine.model.LoginModel">
    </bean>
</beans>
